<div class="container">
  <!-- navbar section -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fs-1 font-weight-bold" routerLink="">EMR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav fs-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/employees">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/employees/add">Add Employee</a>
          </li>
          
         
        </ul>
      </div>
    </div>
  </nav>
  <!-- main section -->
  <router-outlet></router-outlet>
</div>